<div class="abautComponent">
<h1 class="title">ארגון שלום בבית</h1>
<div class="LetterAboutShalomBabit">
<label>לורם איפסום דולור סיט אמט,</label>
<label> קונסקטורר אדיפיסינג אלית קולהע צופעט למרקוח איבן איף,</label>
    <label>ברומץ כלרשט מיחוצים. קלאצי סחטיר בלובק.</label>
    <label>תצטנפל בלינדו למרקל אס לכימפו, דול,</label>
    <label>צוט ומעיוט - לפתיעם ברשג - ולתיעם גדדיש.</label>
    <label>קוויז דומור ליאמום בלינך רוגצה. לפמעט מוסן מנת.</label>
   <label> ולום ארווס סאפיאן - פוסיליס קוויס, אקווזמן קוואזי במר מודוף.
</label>
</div>
<img src="../../../assets/photoes/rav shalom for abaut component.png" alt="לוגו">
</div>
