header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:#022F39;
    max-height: 8rem;
  }
  .logo img {
    width: 30rem;
    height: 8rem;
  }
  
  nav ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  nav li {
    margin-right: 3rem; 
  }

  .PrivateAreaButton{
    background: none;
    border-radius: 5rem;
    width: 20rem;
    height: 5rem;
    border-color: white;
  }
  